
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
	background-color: #FAF7F2;
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.625em;
}

body, html{
 overflow-x:hidden;
}

.brand{
font-size: 20px;
font-weight: 600;
}

ul li {
  list-style-type: none;
  font-size:14px;
}

.mynav{
background-color: rgba(0, 0, 0, 0.4);
top: 0;
left: 0;
right: 0;
position: absolute;
z-index: 1000;
}

.mynav ul li a{
color:#fff;
}

.mynav ul li a:hover, .mynav ul li a:focus,.mynav ul li a:active{
color:#eee;
}

.mynav .dropdown-menu .dropdown-item {
color:#000; 
}

.brand{
	color:#fff;
}
.brand:hover{
	color:#eee;
}
.mynav ul li a.active{
text-decoration: underline;
text-decoration-color: orange;
color:orange;
}

.navbar-toggler span {
display: block;
background-color: #eee;
height: 3px;
width: 25px;
margin-top: 5px;
margin-bottom: 5px;
position: relative;
left: 0;
opacity: 1;
transition: all 0.35s ease-out;
transform-origin: center left;
}

.mynav .form-control {
border-radius: 8px;
height: 30px;
width: 180px;
font-size: 14px;
margin-top: 5px;
}

.btn-outline-light {
font-size: 14px;
color: #fff;
border-color:#198754;
margin-top: 3px;

}
.section-gap {
padding: 80px 0;
}

.section-title {
padding-bottom: 30px;
}


/*===============Home page================*/
.hero-image{
  position: relative;
  overflow: hidden;
}

.hero-text {
font-family: "Times New Roman", serif;
text-align: center;
position: absolute;
width: 900px;
top: 60%;
left: 50%;
transform: translate(-50%, -60%);
color:#fff;
}
.hero-text h1{
font-size: 18px;
}
.hero-text h2{
font-size: 16px;
font-family: "Times New Roman", Times, serif;
}

.hero-text button {
border: none;
outline: 0;
display: inline-block;
padding: 10px 25px;
color: black;
background-color: #ddd;
text-align: center;
cursor: pointer;
}

.hero-text button:hover {
background-color: #555;
color:#fff;
}

.hero-image {
background-color: #000;
height: auto;
width: 100vw;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
top: 0;
position: relative;
z-index: 10;
}


.quote-area .quote-left{
font-family: "Times New Roman", Times, serif;  
color: cream;
font-size: 20px;
padding: 0px 40px;
}

h2{
font-family: "Poppins", sans-serif;
font-weight: 200;

}
@media screen and (min-width: 800px) {
.hero-text h1{
font-size:54px;
}
.hero-text h2{
font-size:24px;
}

.quote-area .quote-left{
font-family: "Times New Roman", Times, serif;  
color: cream;
font-size: 29px;
padding: 0px 40px;
}
}




/*===============Events page================*/
.upcoming-event-area .event-left .single-events {
margin-bottom: 50px;
}

.upcoming-event-area .event-left .single-events h4 {
margin-top: 40px;
}

.upcoming-event-area .event-left .single-events h6 {
font-weight: 300;
color: #777;
padding-top: 10px;
padding-bottom: 12px;
}

.upcoming-event-area .event-left .single-events h6 span {
color: #222;
}

.upcoming-event-area .event-right .single-events {
margin-bottom: 50px;
}

.upcoming-event-area .event-right .single-events img {
margin-top: 40px;
}

.upcoming-event-area .event-right .single-events h6 {
font-weight: 300;
color: #777;
padding-top: 10px;
padding-bottom: 12px;
}

.upcoming-event-area .event-right .single-events h6 span {
color: #222;
}
.upcoming-event-area h4, .upcoming-event-area a{
font-family: "Poppins", sans-serif;
font-size: 18px;
text-decoration: none;
color: #222222;
line-height: 1.2em !important;
margin-bottom: 0;
margin-top: 0;
font-weight: 600;
}

.primary-btn {
background-color: #88d200;
line-height: 42px;
font-size: 10px;
padding:10px 40px;
border:none;
color: #fff;
display: inline-block;
font-weight: 200;
position: relative;
border:1px solid transparent;
-webkit-transition:
all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition:
all 0.3s ease 0s;
cursor: pointer;
text-transform: uppercase;
position: relative;
}
a.primary-btn, .primary-btn  {
background-color: #88d200;
line-height: 42px;
font-size: 14px;
padding:10px 40px;
border:none;
color: #fff;
display: inline-block;
font-weight: 400;
position: relative;
border:1px solid transparent;
-webkit-transition:
all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition:
all 0.3s ease 0s;
cursor: pointer;
text-transform: uppercase;
position: relative;
}
.primary-btn:hover {
color: #88d200;
background-color: transparent;
border-color: #88d200;
}

/*===============Exhibitions page================*/

/*no css*/

/*===============Contact page================*/


/*no css*/
